/*
Theme Name: Wireless Access for Health
Theme URI:
Description: WordPress theme for Wireless Health Access
Author: Iris Salvador
Author URI: iris salvador
Version: 1.0
Tags: wireless access for health

 
*/

/*** GLOBAL : GENERAL STYLE DEFAULTS ***/
html
{
	margin: 0;
	padding: 0;
}
body
{
	background: #fff;
	margin: 0;
}
body, input, textarea
{
	color: #888888;    
	font-family: Arial, sans-serif;
	line-height: 1.5;
}
h1, h2, h3, h4, h5, 
{ 
	font-weight: normal;
	clear: both;
}
h6{
    font-size: 12px;
    font-weight: bold;
    clear: both;
    margin-left: 5px;
}
hr
{
	background-color: #e7e7e7;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
pre
{
	font: 11px Monaco, monospace;
	line-height: 1.5;
	margin-bottom: 1.5em;
}
code
{
	font: 11px Monaco, monospace;
}
p
{
	margin: 4px 0 12px 0;
}
a
{
	color: #1ac6ff;
    font-family: 'Gotham-Book' !important;
}
a:hover
{
	color: #065c88;
}
a:visited
{
	color: #00004d;
}


/*** PAGE LAYOUT ***/

/* Styles that affect the entire layout of the page */
div#container
{
	margin: 4px 4px 4px 4px;
}
div#content
{
	
}


/*** HEADER : MENU ***/

/* To see a menu in your header, you'll need to first add one in WordPress Admin */
.main-menu {
    height: 100%;
    float: right;
    
}
.main-navigation .menu-toggle {
    display: none;
}
.main-navigation {
    position: relative;
    width: auto;
    height: 100%;
    font-weight: bold;
}
.main-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    height: 100%;

}
.main-navigation ul.menu {
    position: relative;
    display: block;
    width: 100%;
    z-index: 500;
}
.main-navigation:after,
.main-navigation ul.menu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.main-navigation.align-right > ul > li {
    float: right;
}
.main-navigation.align-center ul {
    text-align: center;
}
.main-navigation.align-center ul ul {
    text-align: left;
}
.main-navigation ul.menu > li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
.main-navigation ul.menu > li:last-child a {
    padding: 15px 0 15px 15px;
}
.main-navigation ul.menu > #menu-button {
    display: none;
}
.main-navigation ul li a {
    display: block;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}
.main-navigation ul.menu > li > a {
    font-size: 16px;
    line-height: 30px;
    padding: 15px 20px;
    color: #5f5c5c;
    text-transform: uppercase;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
}
.main-navigation ul.menu > li.menu-item-has-children > a {
    padding-right: 32px;
}
.main-navigation ul.menu > li a:hover {
    color: #ac00e6;
}
.main-navigation li.menu-item-has-children::after {
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}
.main-navigation ul.menu > li.menu-item-has-children::after {
    right: 0px;
    top: 25px;
    border: 5px solid transparent;
    border-top-color: #ffffff;
}

#indicatorContainer {
    position: absolute;
    height: 12px;
    width: 100%;
    bottom: 0px;
    overflow: hidden;
    z-index: -1;
}
#pIndicator {
    position: absolute;
    height: 0;
    width: 100%;
    border: 12px solid transparent;
    border-top-color: #00ccff;
    z-index: -2;
    -webkit-transition: left .25s ease;
    -moz-transition: left .25s ease;
    -ms-transition: left .25s ease;
    -o-transition: left .25s ease;
    transition: left .25s ease;
}
#cIndicator {
    position: absolute;
    height: 0;
    width: 100%;
    border: 12px solid transparent;
    border-top-color: #00ccff;
    top: -12px;
    right: 100%;
    z-index: -2;
}
.main-navigation ul ul {
    position: absolute;
    left: -9999px;
    top: 70px;
    opacity: 0;
    -webkit-transition: opacity .3s ease, top .25s ease;
    -moz-transition: opacity .3s ease, top .25s ease;
    -ms-transition: opacity .3s ease, top .25s ease;
    -o-transition: opacity .3s ease, top .25s ease;
    transition: opacity .3s ease, top .25s ease;
    z-index: 1000;
}
.main-navigation ul ul ul {
    top: 37px;
    padding-left: 5px;
}
.main-navigation ul ul li {
    position: relative;
    width: 100%;
}
.main-navigation ul.menu > li:hover > ul {
    left: auto;
    top: 56px;
    opacity: 1;
    background: #E24545;
    width: 200px;
    display: block;
    height: auto;
}
.sub-menu li a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.main-navigation.align-right > ul > li:hover > ul {
    left: auto;
    right: 0;
    opacity: 1;
}
.main-navigation ul ul li:hover > ul {
    left: 100%;
    top: 0;
    opacity: 1;
}
.main-navigation.align-right ul ul li:hover > ul {
    left: auto;
    right: 170px;
    top: 0;
    opacity: 1;
    padding-right: 5px;
}
.main-navigation ul ul li a {
    min-width: 160px;
    background: #00ccff;
    color: #fff !important;
    text-align: left;
    padding: 10px 15px;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.main-navigation.align-right ul ul li a {
    text-align: right;
}
.main-navigation ul ul li:hover > a {
    color: #FFFFFF !important;
}
.main-navigation ul ul li:last-child > a,
.main-navigation ul ul li.last > a {
    border-bottom: 0;
}
.main-navigation ul.menu > li > ul::after {
    content: '';
    border: 6px solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: #00ccff;
    position: absolute;
    top: -12px;
    left: 30px;
}
.main-navigation.align-right > ul > li > ul::after {
    left: auto;
    right: 30px;
}
.main-navigation ul ul li.menu-item-has-children::after {
    border: 4px solid transparent;
    border-left-color: #FFFFFF;
    right: 0px;
    top: 12px;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
.main-navigation.align-right ul ul li.menu-item-has-children::after {
    border-left-color: transparent;
    border-right-color: #9ea2a5;
    right: auto;
    left: 10px;
}
.main-navigation ul ul li.menu-item-has-children:hover::after {
    border-left-color: #B52C27;
    right: -5px;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.main-navigation.align-right ul ul li.menu-item-has-children:hover::after {
    border-right-color: #ffffff;
    border-left-color: transparent;
    left: -5px;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.boxed #site-navigation > .store-menu > ul > li:last-child:hover ul {
    left: -99px;
}
boxed .#site-navigation > .store-menu > ul > li:last-child:hover ul:after {
    left: 136px;
}




/*** HEADER : OTHER ***/



/*** CONTENT : POSTS AND PAGES ***/

/* Entry and Page Titles */
h1.entry-title
{
	
}
h2.entry-title
{
	
}
h2.entry-title a
{
	
}
h1.page-title
{
	
}

/* Media Alignment */
.alignright
{
	/* Style for right-aligned images in posts */
	padding: 8px 0 8px 8px;
	float: right;
}
.alignleft
{
	/* Style for left-aligned images in posts */
	padding: 8px 8px 8px 0;
	float: left;
}

/* Entry Content */
.entry-content
{
	margin: 50px 0px;
}
.entry-content a
{
	
}
.entry-content a:hover
{
	
}
.entry-content h1, h2, h3, h4, h5
{
	
}
.entry-content ol li
{
	
}

.entry-utility
{
	/* Style for the entry utility, which sits below a post and provides info like categories, tags, feeds, and an edit link (for authors) */
}
.entry-meta
{
	/* Style for the entry metadata (author, etc.) */
}
.skip-link
{
	/* Style for the skip link */
	/*position: absolute;
	left: -9000px;*/
}
.navigation
{
	/* Style for the navigation links (next/previous post) on a given post */
}


/*** CONTENT : COMMENTS ***/

div#comments
{
	/* Style that affects the DIV containing all the comments */
}
.comments h3
{
	/* H3 header style for comments */
}
.comments ol
{
	/* Comments are displayed as ordered lists by default, so you want to style that list so it looks the way you want */
}
.comments ol li
{
	/* Style each list item in the comments ordered list */
}
.comments img
{
	/* Style for the user avatar beside each comment */
	float: left;
	margin: 0 12px 8px 0;
}
.comments .comment
{
	/* Style that applies to each individual comment in a series of comments */
}

.children ul li
{
	/* A style that refers to the children (as in, responses to) any given comment */
}

.comment-reply-link
{
	/* Style for the "Reply" link on a comment */
}
.comment-meta
{
	/* Style for metadata for a comment */
}
div#respond
{
	/* DIV that contains the comment response form */
}
div#respond h3
{
	/* H3 header for the comment response form */
}


/*** CONTENT : SIDEBAR ***/
.widget h4{
    margin-top: 0px;
    text-align: center;
    background: #f5f5f5;
    padding: 8px;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}


/*** FOOTER ***/
div#footer
{
	float: left;
	clear: both;

}
.footer-breakline{
    height: 1px;
    background: #999;
    margin:0px;
}

.footer-menu ul li{
    padding: 1px 0px;
    border-bottom: 1px solid #999;
}
.textfoot{
    text-align: left !important;
}

/*** YOUR CSS ***/

.mail{
    color: #00ccff !important;

}

.infocontactus3{
      margin-top: 30px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 20px;
    padding-top: 40px;
     padding-bottom: 40px;
    border-right: 2px solid #8c8c8c;
  
   
}